adb-curso-databricks-prd/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adb-curso-databricks-prd"
		},
		"LS_AzureSQL_Controls_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_AzureSQL_Controls'"
		},
		"LS_CursoDatabricks_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_CursoDatabricks_ADLS'"
		},
		"LS_CursoDatabricks_SQL_teste_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_CursoDatabricks_SQL_teste'"
		},
		"LS_MongoDbAtlas_teste_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_MongoDbAtlas_teste'"
		},
		"LS_AzureSQL_Controls_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqldb-study-lakehouse-server.database.windows.net"
		},
		"LS_AzureSQL_Controls_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorksLT2022"
		},
		"LS_AzureSQL_Controls_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "APRENDER_DADOS_READ"
		},
		"LS_CursoDatabricks_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlcursodatabricksprd.dfs.core.windows.net/"
		},
		"LS_CursoDatabricks_SQL_teste_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqldb-study-lakehouse-server.database.windows.net"
		},
		"LS_CursoDatabricks_SQL_teste_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks2022"
		},
		"LS_CursoDatabricks_SQL_teste_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "APRENDER_DADOS_READ"
		},
		"LS_MongoDbAtlas_teste_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "teste-AdventureWorks"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/1- full load metodo antigo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Primeira Tabela",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DepartmentID",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "DepartmentID",
											"type": "Int16",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "GroupName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "GroupName",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "human_resources_department",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "output_human_resouce_department",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Employee",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "BusinessEntityID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "BusinessEntityID",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "NationalIDNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NationalIDNumber",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "LoginID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LoginID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "OrganizationLevel",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "OrganizationLevel",
											"type": "Int16",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "JobTitle",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "JobTitle",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "BirthDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "BirthDate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "MaritalStatus",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "MaritalStatus",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Gender",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "Gender",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "HireDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "HireDate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "SalariedFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "SalariedFlag",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "VacationHours",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "VacationHours",
											"type": "Int16",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "SickLeaveHours",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "SickLeaveHours",
											"type": "Int16",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "CurrentFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "CurrentFlag",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "rowguid",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "rowguid",
											"type": "Guid",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "human_resources_employee",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "output_human_resouce_employee",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Aula 2 - Ingestão Manual"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/human_resources_department')]",
				"[concat(variables('factoryId'), '/datasets/output_human_resouce_department')]",
				"[concat(variables('factoryId'), '/datasets/human_resources_employee')]",
				"[concat(variables('factoryId'), '/datasets/output_human_resouce_employee')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/2- full load com parametros')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EmployeeDepartmentHistory",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "input_AdventureWorks_OLTP",
								"type": "DatasetReference",
								"parameters": {
									"schema": "HumanResources",
									"table": "EmployeeDepartmentHistory"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "output_AdventureWorks_OLTP",
								"type": "DatasetReference",
								"parameters": {
									"schema": "HumanResources",
									"table": "EmployeeDepartmentHistory"
								}
							}
						]
					},
					{
						"name": "Department",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "input_AdventureWorks_OLTP",
								"type": "DatasetReference",
								"parameters": {
									"schema": "HumanResources",
									"table": "Department"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "output_AdventureWorks_OLTP",
								"type": "DatasetReference",
								"parameters": {
									"schema": "HumanResources",
									"table": "Department"
								}
							}
						]
					},
					{
						"name": "EmployeePayHistory",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "input_AdventureWorks_OLTP",
								"type": "DatasetReference",
								"parameters": {
									"schema": "HumanResources",
									"table": "EmployeePayHistory"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "output_AdventureWorks_OLTP",
								"type": "DatasetReference",
								"parameters": {
									"schema": "HumanResources",
									"table": "EmployeePayHistory"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Aula 2 - Ingestão Manual"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/input_AdventureWorks_OLTP')]",
				"[concat(variables('factoryId'), '/datasets/output_AdventureWorks_OLTP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/3- copy save cada table pipeline parameters')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "extracao",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "input_AdventureWorks_OLTP",
								"type": "DatasetReference",
								"parameters": {
									"schema": {
										"value": "@pipeline().parameters.schema_pipeline",
										"type": "Expression"
									},
									"table": {
										"value": "@pipeline().parameters.table_pipeline",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "output_AdventureWorks_OLTP",
								"type": "DatasetReference",
								"parameters": {
									"schema": {
										"value": "@pipeline().parameters.schema_pipeline",
										"type": "Expression"
									},
									"table": {
										"value": "@pipeline().parameters.table_pipeline",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"schema_pipeline": {
						"type": "string"
					},
					"table_pipeline": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Aula 2 - Ingestão Manual"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/input_AdventureWorks_OLTP')]",
				"[concat(variables('factoryId'), '/datasets/output_AdventureWorks_OLTP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/4- cada uma das tabelas manualmente')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "HumanResources_Shift",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "3- copy save cada table pipeline parameters",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"schema_pipeline": "HumanResources",
								"table_pipeline": "Shift"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Aula 2 - Ingestão Manual"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/3- copy save cada table pipeline parameters')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mongo Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MongoDbAtlasSource",
								"batchSize": 100
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['_id']"
										},
										"sink": {
											"name": "_id"
										}
									},
									{
										"source": {
											"path": "$['_t'][0]"
										},
										"sink": {
											"name": "_t']["
										}
									},
									{
										"source": {
											"path": "$['DataPersistenciaRegistro']"
										},
										"sink": {
											"name": "DataPersistenciaRegistro"
										}
									},
									{
										"source": {
											"path": "$['DataPersistenciaRegistroServidor']"
										},
										"sink": {
											"name": "DataPersistenciaRegistroServidor"
										}
									},
									{
										"source": {
											"path": "$['UsuarioSistema']['_t'][0]"
										},
										"sink": {
											"name": "UsuarioSistema__t']["
										}
									},
									{
										"source": {
											"path": "$['UsuarioSistema']['_id']"
										},
										"sink": {
											"name": "UsuarioSistema__id"
										}
									},
									{
										"source": {
											"path": "$['UsuarioSistema']['DataPersistenciaRegistro']"
										},
										"sink": {
											"name": "UsuarioSistema_DataPersistenciaRegistro"
										}
									},
									{
										"source": {
											"path": "$['UsuarioSistema']['DataPersistenciaRegistroServidor']"
										},
										"sink": {
											"name": "UsuarioSistema_DataPersistenciaRegistroServidor",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['UsuarioSistema']['Nome']"
										},
										"sink": {
											"name": "UsuarioSistema_Nome"
										}
									},
									{
										"source": {
											"path": "$['UsuarioSistema']['Login']"
										},
										"sink": {
											"name": "UsuarioSistema_Login"
										}
									},
									{
										"source": {
											"path": "$['Estabelecimento']['_t'][0]"
										},
										"sink": {
											"name": "Estabelecimento__t']["
										}
									},
									{
										"source": {
											"path": "$['Estabelecimento']['_id']"
										},
										"sink": {
											"name": "Estabelecimento__id"
										}
									},
									{
										"source": {
											"path": "$['Estabelecimento']['DataPersistenciaRegistro']"
										},
										"sink": {
											"name": "Estabelecimento_DataPersistenciaRegistro"
										}
									},
									{
										"source": {
											"path": "$['Estabelecimento']['DataPersistenciaRegistroServidor']"
										},
										"sink": {
											"name": "Estabelecimento_DataPersistenciaRegistroServidor",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['Estabelecimento']['Codigo']['$numberInt']"
										},
										"sink": {
											"name": "Estabelecimento_Codigo_$numberInt"
										}
									},
									{
										"source": {
											"path": "$['Estabelecimento']['Nome']"
										},
										"sink": {
											"name": "Estabelecimento_Nome"
										}
									},
									{
										"source": {
											"path": "$['Estabelecimento']['Endereco']['CEP']"
										},
										"sink": {
											"name": "CEP",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Estabelecimento']['Endereco']['CEPStr']"
										},
										"sink": {
											"name": "CEPStr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Estabelecimento']['Endereco']['Logradouro']"
										},
										"sink": {
											"name": "Logradouro",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Estabelecimento']['Endereco']['Numero']"
										},
										"sink": {
											"name": "Numero"
										}
									},
									{
										"source": {
											"path": "$['Estabelecimento']['Endereco']['Complemento']"
										},
										"sink": {
											"name": "Complemento",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Estabelecimento']['Endereco']['Bairro']"
										},
										"sink": {
											"name": "Bairro"
										}
									},
									{
										"source": {
											"path": "$['Estabelecimento']['Endereco']['Cidade']"
										},
										"sink": {
											"name": "Cidade"
										}
									},
									{
										"source": {
											"path": "$['Estabelecimento']['Endereco']['UF']"
										},
										"sink": {
											"name": "UF"
										}
									},
									{
										"source": {
											"path": "$['Estabelecimento']['Endereco']['Regional']"
										},
										"sink": {
											"name": "Regional",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Estabelecimento']['Endereco']['Zona']"
										},
										"sink": {
											"name": "Zona",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Estabelecimento']['Endereco']['Latitude']"
										},
										"sink": {
											"name": "Latitude"
										}
									},
									{
										"source": {
											"path": "$['Estabelecimento']['Endereco']['Longitude']"
										},
										"sink": {
											"name": "Longitude"
										}
									},
									{
										"source": {
											"path": "$['Data']"
										},
										"sink": {
											"name": "Data"
										}
									},
									{
										"source": {
											"path": "$['IdRoteirosPlanejados'][0]"
										},
										"sink": {
											"name": "IdRoteirosPlanejados']["
										}
									},
									{
										"source": {
											"path": "$['Status']['$numberInt']"
										},
										"sink": {
											"name": "Status_$numberInt"
										}
									},
									{
										"source": {
											"path": "$['TarefasExecutadas'][0]['Tipo']['$numberInt']"
										},
										"sink": {
											"name": "TarefasExecutadas'][0]['Tipo_$numberInt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TarefasExecutadas'][0]['Alvo']['Familia']['_t'][0]"
										},
										"sink": {
											"name": "TarefasExecutadas'][0]['Alvo_Familia__t'][",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TarefasExecutadas'][0]['Alvo']['Familia']['_id']"
										},
										"sink": {
											"name": "TarefasExecutadas'][0]['Alvo_Familia__id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TarefasExecutadas'][0]['Alvo']['Familia']['DataPersistenciaRegistro']"
										},
										"sink": {
											"name": "TarefasExecutadas'][0]['Alvo_Familia_DataPersistenciaRegistro",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TarefasExecutadas'][0]['Alvo']['Familia']['DataPersistenciaRegistroServidor']"
										},
										"sink": {
											"name": "TarefasExecutadas'][0]['Alvo_Familia_DataPersistenciaRegistroServidor",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TarefasExecutadas'][0]['Alvo']['Familia']['Codigo']['$numberInt']"
										},
										"sink": {
											"name": "TarefasExecutadas'][0]['Alvo_Familia_Codigo_$numberInt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TarefasExecutadas'][0]['Alvo']['Familia']['Nome']"
										},
										"sink": {
											"name": "TarefasExecutadas'][0]['Alvo_Familia_Nome",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TarefasExecutadas'][0]['Alvo']['Familia']['Marca']['_t'][0]"
										},
										"sink": {
											"name": "TarefasExecutadas'][0]['Alvo_Familia_Marca__t'][",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TarefasExecutadas'][0]['Alvo']['Familia']['Marca']['_id']"
										},
										"sink": {
											"name": "TarefasExecutadas'][0]['Alvo_Familia_Marca__id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TarefasExecutadas'][0]['Alvo']['Familia']['Marca']['DataPersistenciaRegistro']"
										},
										"sink": {
											"name": "TarefasExecutadas'][0]['Alvo_Familia_Marca_DataPersistenciaRegistro",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TarefasExecutadas'][0]['Alvo']['Familia']['Marca']['DataPersistenciaRegistroServidor']"
										},
										"sink": {
											"name": "TarefasExecutadas'][0]['Alvo_Familia_Marca_DataPersistenciaRegistroServidor",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TarefasExecutadas'][0]['Alvo']['Familia']['Marca']['Codigo']['$numberInt']"
										},
										"sink": {
											"name": "TarefasExecutadas'][0]['Alvo_Familia_Marca_Codigo_$numberInt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TarefasExecutadas'][0]['Alvo']['Familia']['Marca']['Nome']"
										},
										"sink": {
											"name": "TarefasExecutadas'][0]['Alvo_Familia_Marca_Nome",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TarefasExecutadas'][0]['Alvo']['Familia']['Segmento']['_t'][0]"
										},
										"sink": {
											"name": "TarefasExecutadas'][0]['Alvo_Familia_Segmento__t'][",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TarefasExecutadas'][0]['Alvo']['Familia']['Segmento']['_id']"
										},
										"sink": {
											"name": "TarefasExecutadas'][0]['Alvo_Familia_Segmento__id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TarefasExecutadas'][0]['Alvo']['Familia']['Segmento']['DataPersistenciaRegistro']"
										},
										"sink": {
											"name": "TarefasExecutadas'][0]['Alvo_Familia_Segmento_DataPersistenciaRegistro",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TarefasExecutadas'][0]['Alvo']['Familia']['Segmento']['DataPersistenciaRegistroServidor']"
										},
										"sink": {
											"name": "TarefasExecutadas'][0]['Alvo_Familia_Segmento_DataPersistenciaRegistroServidor",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['TarefasExecutadas'][0]['Alvo']['Familia']['Segmento']['Nome']"
										},
										"sink": {
											"name": "TarefasExecutadas'][0]['Alvo_Familia_Segmento_Nome",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['DadosVisita']['FotoCheckin']['Nome']"
										},
										"sink": {
											"name": "DadosVisita_FotoCheckin_Nome"
										}
									},
									{
										"source": {
											"path": "$['DadosVisita']['FotoCheckin']['MimeType']"
										},
										"sink": {
											"name": "DadosVisita_FotoCheckin_MimeType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['DadosVisita']['FotoCheckin']['CaminhoArmazenamento']"
										},
										"sink": {
											"name": "DadosVisita_FotoCheckin_CaminhoArmazenamento",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['DadosVisita']['FotoCheckin']['Comentario']"
										},
										"sink": {
											"name": "DadosVisita_FotoCheckin_Comentario",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['DadosVisita']['FotoCheckin']['Data']"
										},
										"sink": {
											"name": "DadosVisita_FotoCheckin_Data"
										}
									},
									{
										"source": {
											"path": "$['DadosVisita']['FotoCheckin']['Classificacao']"
										},
										"sink": {
											"name": "DadosVisita_FotoCheckin_Classificacao"
										}
									},
									{
										"source": {
											"path": "$['DadosVisita']['FotoCheckin']['Latitude']['$numberDouble']"
										},
										"sink": {
											"name": "DadosVisita_FotoCheckin_Latitude_$numberDouble"
										}
									},
									{
										"source": {
											"path": "$['DadosVisita']['FotoCheckin']['Longitude']['$numberDouble']"
										},
										"sink": {
											"name": "DadosVisita_FotoCheckin_Longitude_$numberDouble"
										}
									},
									{
										"source": {
											"path": "$['DadosVisita']['FotoCheckout']['Nome']"
										},
										"sink": {
											"name": "DadosVisita_FotoCheckout_Nome"
										}
									},
									{
										"source": {
											"path": "$['DadosVisita']['FotoCheckout']['MimeType']"
										},
										"sink": {
											"name": "DadosVisita_FotoCheckout_MimeType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['DadosVisita']['FotoCheckout']['CaminhoArmazenamento']"
										},
										"sink": {
											"name": "DadosVisita_FotoCheckout_CaminhoArmazenamento",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['DadosVisita']['FotoCheckout']['Comentario']"
										},
										"sink": {
											"name": "DadosVisita_FotoCheckout_Comentario",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['DadosVisita']['FotoCheckout']['Data']"
										},
										"sink": {
											"name": "DadosVisita_FotoCheckout_Data"
										}
									},
									{
										"source": {
											"path": "$['DadosVisita']['FotoCheckout']['Classificacao']"
										},
										"sink": {
											"name": "DadosVisita_FotoCheckout_Classificacao"
										}
									},
									{
										"source": {
											"path": "$['DadosVisita']['FotoCheckout']['Latitude']['$numberDouble']"
										},
										"sink": {
											"name": "DadosVisita_FotoCheckout_Latitude_$numberDouble"
										}
									},
									{
										"source": {
											"path": "$['DadosVisita']['FotoCheckout']['Longitude']['$numberDouble']"
										},
										"sink": {
											"name": "DadosVisita_FotoCheckout_Longitude_$numberDouble"
										}
									},
									{
										"source": {
											"path": "$['UsuarioInclusaoRegistro']['_id']"
										},
										"sink": {
											"name": "UsuarioInclusaoRegistro__id"
										}
									},
									{
										"source": {
											"path": "$['UsuarioInclusaoRegistro']['DataPersistenciaRegistro']"
										},
										"sink": {
											"name": "UsuarioInclusaoRegistro_DataPersistenciaRegistro"
										}
									},
									{
										"source": {
											"path": "$['UsuarioInclusaoRegistro']['DataPersistenciaRegistroServidor']"
										},
										"sink": {
											"name": "UsuarioInclusaoRegistro_DataPersistenciaRegistroServidor",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['UsuarioInclusaoRegistro']['Nome']"
										},
										"sink": {
											"name": "UsuarioInclusaoRegistro_Nome"
										}
									},
									{
										"source": {
											"path": "$['UsuarioInclusaoRegistro']['Login']"
										},
										"sink": {
											"name": "UsuarioInclusaoRegistro_Login"
										}
									},
									{
										"source": {
											"path": "$['DataInclusaoRegistro']"
										},
										"sink": {
											"name": "DataInclusaoRegistro"
										}
									},
									{
										"source": {
											"path": "$['UsuarioUltimaAlteracaoRegistro']['_id']"
										},
										"sink": {
											"name": "UsuarioUltimaAlteracaoRegistro__id"
										}
									},
									{
										"source": {
											"path": "$['UsuarioUltimaAlteracaoRegistro']['DataPersistenciaRegistro']"
										},
										"sink": {
											"name": "UsuarioUltimaAlteracaoRegistro_DataPersistenciaRegistro"
										}
									},
									{
										"source": {
											"path": "$['UsuarioUltimaAlteracaoRegistro']['DataPersistenciaRegistroServidor']"
										},
										"sink": {
											"name": "UsuarioUltimaAlteracaoRegistro_DataPersistenciaRegistroServidor",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['UsuarioUltimaAlteracaoRegistro']['Nome']"
										},
										"sink": {
											"name": "UsuarioUltimaAlteracaoRegistro_Nome"
										}
									},
									{
										"source": {
											"path": "$['UsuarioUltimaAlteracaoRegistro']['Login']"
										},
										"sink": {
											"name": "UsuarioUltimaAlteracaoRegistro_Login"
										}
									},
									{
										"source": {
											"path": "$['DataUltimaAlteracaoRegistro']"
										},
										"sink": {
											"name": "DataUltimaAlteracaoRegistro"
										}
									},
									{
										"source": {
											"path": "$['RegistroExcluido']"
										},
										"sink": {
											"name": "RegistroExcluido"
										}
									},
									{
										"source": {
											"path": "$['DataAsDate']['$date']['$numberLong']"
										},
										"sink": {
											"name": "DataAsDate_$date_$numberLong"
										}
									},
									{
										"source": {
											"path": "$['currentMillis']['$numberLong']"
										},
										"sink": {
											"name": "currentMillis_$numberLong"
										}
									},
									{
										"source": {
											"path": "$['newDateRegistro']['$numberLong']"
										},
										"sink": {
											"name": "newDateRegistro_$numberLong"
										}
									},
									{
										"source": {
											"path": "$['yesterdayMillis']['$numberLong']"
										},
										"sink": {
											"name": "yesterdayMillis_$numberLong"
										}
									},
									{
										"source": {
											"path": "$['dataOntem']['$date']['$numberLong']"
										},
										"sink": {
											"name": "dataOntem_$date_$numberLong"
										}
									},
									{
										"source": {
											"path": "$['novaDataMillis']['$numberLong']"
										},
										"sink": {
											"name": "novaDataMillis_$numberLong"
										}
									}
								],
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "MongoDbAtlasCollection_teste",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "output_com_folder_e_filename",
								"type": "DatasetReference",
								"parameters": {
									"folder": "testeMongo",
									"file_name": "testeFileName.parquet"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Aula 2 - Ingestão Manual"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MongoDbAtlasCollection_teste')]",
				"[concat(variables('factoryId'), '/datasets/output_com_folder_e_filename')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline de Ingestao')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Aqui é possível fazer uma ingestão maualmente",
				"activities": [
					{
						"name": "Ingestao custom",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@pipeline().parameters.query",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "input_com_query_AzureSQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "output_com_folder_e_filename",
								"type": "DatasetReference",
								"parameters": {
									"folder": {
										"value": "@pipeline().parameters.folder",
										"type": "Expression"
									},
									"file_name": {
										"value": "@pipeline().parameters.file_name",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"query": {
						"type": "string"
					},
					"folder": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Aula 4 - Ingestão automatizada de pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/input_com_query_AzureSQL')]",
				"[concat(variables('factoryId'), '/datasets/output_com_folder_e_filename')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/le tabela de controle')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "le tabela de controle",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "controle_csv",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "le tabela de controle",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('le tabela de controle').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Ingestao",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@item().query",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "input_com_query_AzureSQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "output_com_folder_e_filename",
											"type": "DatasetReference",
											"parameters": {
												"folder": {
													"value": "@item().folder",
													"type": "Expression"
												},
												"file_name": {
													"value": "@item().file_name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Aula 3 - Ingestão automatica por CSV de controle"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/controle_csv')]",
				"[concat(variables('factoryId'), '/datasets/input_com_query_AzureSQL')]",
				"[concat(variables('factoryId'), '/datasets/output_com_folder_e_filename')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/le tabelas de controle pipeline params v2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "le tabela de controle",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "tabela_control_ingestion",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter Control Table Active",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Control Table Active').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Pipeline ingestao",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Pipeline de Ingestao",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"query": {
												"value": "@item().query",
												"type": "Expression"
											},
											"folder": {
												"value": "@item().folder",
												"type": "Expression"
											},
											"file_name": {
												"value": "@item().file_name",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Filter Control Table Active",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "le tabela de controle",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('le tabela de controle').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@item().active",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Aula 4 - Ingestão automatizada de pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/tabela_control_ingestion')]",
				"[concat(variables('factoryId'), '/pipelines/Pipeline de Ingestao')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/le tabelas de controle v1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "le tabela de controle",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "tabela_control_ingestion",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter Control Table Active",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Control Table Active').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Ingestao",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@item().query",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "input_com_query_AzureSQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "output_com_folder_e_filename",
											"type": "DatasetReference",
											"parameters": {
												"folder": {
													"value": "@item().folder",
													"type": "Expression"
												},
												"file_name": {
													"value": "@item().file_name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Filter Control Table Active",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "le tabela de controle",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('le tabela de controle').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@item().active",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Aula 4 - Ingestão automatizada de pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/tabela_control_ingestion')]",
				"[concat(variables('factoryId'), '/datasets/input_com_query_AzureSQL')]",
				"[concat(variables('factoryId'), '/datasets/output_com_folder_e_filename')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MongoDbAtlasCollection_teste')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_MongoDbAtlas_teste",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MongoDbAtlasCollection",
				"schema": [],
				"typeProperties": {
					"collection": "RoteiroExecutadoEntity"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_MongoDbAtlas_teste')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/controle_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CursoDatabricks_ADLS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AdventureWorks_OLTP/Aula 3"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "controle.csv",
						"folderPath": "AdventureWorks",
						"fileSystem": "controle"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Id;Active;source_schema;source_table;query;folder;file_name",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CursoDatabricks_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/human_resources_department')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CursoDatabricks_SQL_teste",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AdventureWorks_OLTP/Input"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DepartmentID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "GroupName",
						"type": "nvarchar"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "HumanResources",
					"table": "Department"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CursoDatabricks_SQL_teste')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/human_resources_employee')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CursoDatabricks_SQL_teste",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AdventureWorks_OLTP/Input"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BusinessEntityID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NationalIDNumber",
						"type": "nvarchar"
					},
					{
						"name": "LoginID",
						"type": "nvarchar"
					},
					{
						"name": "OrganizationNode",
						"type": "hierarchyid"
					},
					{
						"name": "OrganizationLevel",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "JobTitle",
						"type": "nvarchar"
					},
					{
						"name": "BirthDate",
						"type": "date"
					},
					{
						"name": "MaritalStatus",
						"type": "nchar"
					},
					{
						"name": "Gender",
						"type": "nchar"
					},
					{
						"name": "HireDate",
						"type": "date"
					},
					{
						"name": "SalariedFlag",
						"type": "bit"
					},
					{
						"name": "VacationHours",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SickLeaveHours",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CurrentFlag",
						"type": "bit"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "HumanResources",
					"table": "Employee"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CursoDatabricks_SQL_teste')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/input_AdventureWorks_OLTP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CursoDatabricks_SQL_teste",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					}
				},
				"folder": {
					"name": "AdventureWorks_OLTP/Input"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CursoDatabricks_SQL_teste')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/input_com_query_AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CursoDatabricks_SQL_teste",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AdventureWorks_OLTP/Aula 3"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CursoDatabricks_SQL_teste')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/output_AdventureWorks_OLTP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CursoDatabricks_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					}
				},
				"folder": {
					"name": "AdventureWorks_OLTP/Output"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().schema,'_',dataset().table,'.parquet')",
							"type": "Expression"
						},
						"folderPath": "AdventureWorks/full_load",
						"fileSystem": "landing-zone"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "DepartmentID",
						"type": "INT32"
					},
					{
						"name": "Name",
						"type": "UTF8"
					},
					{
						"name": "GroupName",
						"type": "UTF8"
					},
					{
						"name": "ModifiedDate",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CursoDatabricks_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/output_com_folder_e_filename')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CursoDatabricks_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "AdventureWorks_OLTP/Aula 3"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('AdventureWorks/full_load/',dataset().folder,'/')",
							"type": "Expression"
						},
						"fileSystem": "landing-zone"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CursoDatabricks_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/output_human_resouce_department')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CursoDatabricks_ADLS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AdventureWorks_OLTP/Output"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "human_resouce_department.parquet",
						"folderPath": "AdventureWorks/full_load",
						"fileSystem": "landing-zone"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CursoDatabricks_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/output_human_resouce_employee')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CursoDatabricks_ADLS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AdventureWorks_OLTP/Output"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "human_resouce_employee.parquet",
						"folderPath": "AdventureWorks/full_load",
						"fileSystem": "landing-zone"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CursoDatabricks_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tabela_control_ingestion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_Controls",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AdventureWorks_OLTP/aula 4"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "active",
						"type": "bit"
					},
					{
						"name": "source_schema",
						"type": "nvarchar"
					},
					{
						"name": "source_table",
						"type": "nvarchar"
					},
					{
						"name": "query",
						"type": "nvarchar"
					},
					{
						"name": "folder",
						"type": "nvarchar"
					},
					{
						"name": "file_name",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "control_ingestion"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_Controls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureSQL_Controls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_AzureSQL_Controls_properties_typeProperties_server')]",
					"database": "[parameters('LS_AzureSQL_Controls_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_AzureSQL_Controls_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_AzureSQL_Controls_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CursoDatabricks_ADB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-607816115043009.9.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/919aa7dc-01b5-41df-a1e5-a210158aa0a4/resourceGroups/CursoDatabricks/providers/Microsoft.Databricks/workspaces/adb-curso-databricks-prd",
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "1",
					"newClusterSparkEnvVars": {
						"PYSPARK_PYTHON": "/databricks/python3/bin/python3"
					},
					"newClusterVersion": "10.4.x-scala2.12",
					"clusterOption": "Fixed",
					"newClusterInitScripts": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CursoDatabricks_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_CursoDatabricks_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_CursoDatabricks_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CursoDatabricks_SQL_teste')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_CursoDatabricks_SQL_teste_properties_typeProperties_server')]",
					"database": "[parameters('LS_CursoDatabricks_SQL_teste_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_CursoDatabricks_SQL_teste_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_CursoDatabricks_SQL_teste_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MongoDbAtlas_teste')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "MongoDbAtlas",
				"typeProperties": {
					"connectionString": "[parameters('LS_MongoDbAtlas_teste_connectionString')]",
					"database": "[parameters('LS_MongoDbAtlas_teste_properties_typeProperties_database')]",
					"driverVersion": "v2"
				}
			},
			"dependsOn": []
		}
	]
}